<div class="about-director block-padding">
    <div class="container">
        <div class="b-title ff-tinos bold b-title-flex"><div class="b-title-texture"></div><span>Остались вопросы <i>о компании?</i></span></div>
        <div class="in block-padding bp35 no-padding-bottom">
            <div class="left">
                <div class="desc">
                    <div class="b-title bt30 ff-tinos bold no-margin"><em>Расскажу лично!</em></div>
                    <div class="text-in">
                        <p><i>В возрасте 3-5 лет я очень любил строить что то шалаши и разные постройки мне постоянно дарили игрушкисвязанные со строительством (игрушечные краны молотки). Мой Отец меня приучал с детства к топору ты как сам был плотником высшего ранга я любил помогать ему во всех делах на даче на работе и с 8 лет он начал меня брать на обьекты так я увидел чем же мой отец занимаеться когда уезжает из дома</i></p>
                        <p><i>Когда мне было 10 лет Папу пригласили на постройку церкви в лен областии он взял меня ссобой все лето и все каникулы я проводил время с ним очень хотелось погулять иногда с одноклассниками НО я тогда еще был мал для того что бы понимать что мы строим дома как дом но когда через два года мы закончили постройку этой церкви и устанавливали купола и крест на самой верхушке я что то понял… понял что мы строим</i></p>
                    </div>
                    <div class="signature">
                        <div class="b-title bt18 semibold no-margin"><em>Я люблю свое дело</em></div>
                        <div class="signature-img">
                            <img src="images/home/about-director/signature@2x.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="image-wrapper">
                    <div class="image">
                        <img src="images/home/about-director/image.jpg" alt="" />
                        <div class="caption">
                            <div class="b-title bt18 semibold white no-margin">Фамилия Имя Отчество</div>
                            <div class="b-title bt16 white no-margin">должность ООО «СтройГруппМонтаж»</div>
                            <div class="b-title bt16 white no-margin">корпоративный e-mail: <a href="mailto:sgm@mail.ru" target="_blank">sgm@mail.ru</a></div>
                            <ul class="social-links">
                                <li>
                                    <a href="#" target="_blank">
                                        <svg>
                                            <use xlink:href="#icon-facebook"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <svg>
                                            <use xlink:href="#icon-vk"/>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="quotes">
                        <svg>
                            <use xlink:href="#icon-quotes"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
