<div class="about-company about-service block-padding">
    <div class="container">
        <div class="in">
            <div class="top">
                <div class="left">
                    <div class="b-title ff-tinos bold b-title-flex no-margin"><div class="b-title-texture"></div><span>Виниловый <i>сайдинг</i></span></div>
                    <div class="b-title bt30 bold ff-tinos no-margin">— самый доступный вариант отделки фасада</div>
                    <div class="text-in">
                        <ul>
                            <li>Прост в обслуживании (легко помыть, заменить панель)</li>
                            <li>Легкий по весу, не требует усиленной обрешетки</li>
                            <li>Противостоит воздействию влаги и кислот</li>
                            <li>Выстоит в погоду от до -50°С до +50°С</li>
                            <li>Широкий ассортимент цветов и оттенков</li>
                            <li>Со временем может немного поменять оттенок</li>
                            <li>При колебаниях температур изменяет свои геометрические параметры</li>
                        </ul>
                        <p>При правильном монтаже срок службы винилового сайдинга достигает 50 лет.</p>
                    </div>
                </div>
                <div class="right">
                    <div class="video-wrapper">
                        <div class="youtube-video" data-video-id="CzuPk9K41q0">
                            <img class="youtube-thumbnail" src="images/home/about-company/video-thumbnail.jpg" alt="">
                            <div class="youtube-play-btn">
                                <svg>
                                    <use xlink:href="#icon-video-play-btn"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="texture"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
