<div class="about-company block-padding">
    <div class="container">
        <div class="b-title ff-tinos bold b-title-flex"><div class="b-title-texture"></div><span>Компания <i>СтройГруппМонтаж</i></span></div>
        <div class="in block-padding bp25 no-padding-bottom">
            <div class="top">
                <div class="left b-title-texture-padding-left">
                    <div class="b-title bt30 ff-tinos bold no-margin">10 причин сотрудничать</div>
                    <div class="text-in">
                        <p>15 лет делаем красивые и теплые фасады и кровли. <b>ООО «СтройГруппМонтаж»</b> работает с 11 октября 2005 года.</p>
                        <p>Клиенты обращаются к нам повторно за устрйоством кровли спустя 8-10 лет после отделки фасада.</p>
                        <p>Вы получаете материал еще дешевле, чем при покупке у проивзодителя, так как для клиентов они держат рыночную цену. <br />Ваша выгода составит от 18% от розничных цен. <br />Это, в среднем - 15000 - 57000 рублей.</p>
                    </div>
                </div>
                <div class="right">
                    <div class="video-wrapper">
                        <div class="youtube-video" data-video-id="CzuPk9K41q0">
                            <img class="youtube-thumbnail" src="images/home/about-company/video-thumbnail.jpg" alt="">
                            <div class="youtube-play-btn">
                                <svg>
                                    <use xlink:href="#icon-video-play-btn"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="texture"></div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="items">
                    <div class="item">
                        <div class="item-in">
                            <div class="b-title bt26 ff-tinos bold no-margin"><div class="n b-title bt40 ff-tinos bold color4 no-margin">1</div>15 лет опыта</div>
                            <div class="text-in">
                                <p>ООО «СтройГруппМонтаж» имеет  более 20 прямых договоров с заводами-производителями сайдинга, кровельных и расходных материалов.</p>
                                <h6 style="color:#232c3f;font-family: Tinos,serif;font-weight:600;">Ваша выгода</h6>
                                <p>Вы получаете материал еще дешевле, чем при покупке у проивзодителя, так как для клиентов они держат рыночную цену. <br />Ваша выгода составит от 18% от розничных цен. <br />Это, в среднем - 15000 - 57000 рублей.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-in">
                            <div class="b-title bt26 ff-tinos bold no-margin"><div class="n b-title bt40 ff-tinos bold color4 no-margin">2</div>Дешевле, чем у производителя</div>
                            <div class="text-in">
                                <p>ООО «СтройГруппМонтаж» имеет  более 20 прямых договоров с заводами-производителями сайдинга, кровельных и расходных материалов.</p>
                                <h6 style="color:#232c3f;font-family: Tinos,serif;font-weight:600;">Ваша выгода</h6>
                                <p>Вы получаете материал еще дешевле, чем при покупке у проивзодителя, так как для клиентов они держат рыночную цену. <br />Ваша выгода составит от 18% от розничных цен. <br />Это, в среднем - 15000 - 57000 рублей.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-in">
                            <div class="b-title bt26 ff-tinos bold no-margin"><div class="n b-title bt40 ff-tinos bold color4 no-margin">3</div>18 бригад в штате</div>
                            <div class="text-in">
                                <p>ООО «СтройГруппМонтаж» имеет  более 20 прямых договоров с заводами-производителями сайдинга, кровельных и расходных материалов.</p>
                                <h6 style="color:#232c3f;font-family: Tinos,serif;font-weight:600;">Ваша выгода</h6>
                                <p>Вы получаете материал еще дешевле, чем при покупке у проивзодителя, так как для клиентов они держат рыночную цену. <br />Ваша выгода составит от 18% от розничных цен. <br />Это, в среднем - 15000 - 57000 рублей.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-in">
                            <div class="b-title bt26 ff-tinos bold no-margin"><div class="n b-title bt40 ff-tinos bold color4 no-margin">4</div>62 237 000 ₽ сэкономили для клиентов</div>
                            <div class="text-in">
                                <p>ООО «СтройГруппМонтаж» имеет  более 20 прямых договоров с заводами-производителями сайдинга, кровельных и расходных материалов.</p>
                                <h6 style="color:#232c3f;font-family: Tinos,serif;font-weight:600;">Ваша выгода</h6>
                                <p>Вы получаете материал еще дешевле, чем при покупке у проивзодителя, так как для клиентов они держат рыночную цену. <br />Ваша выгода составит от 18% от розничных цен. <br />Это, в среднем - 15000 - 57000 рублей.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-in">
                            <div class="b-title bt26 ff-tinos bold no-margin"><div class="n b-title bt40 ff-tinos bold color4 no-margin">5</div>Гарантия на работы — 10 лет</div>
                            <div class="text-in">
                                <p>ООО «СтройГруппМонтаж» имеет  более 20 прямых договоров с заводами-производителями сайдинга, кровельных и расходных материалов.</p>
                                <h6 style="color:#232c3f;font-family: Tinos,serif;font-weight:600;">Ваша выгода</h6>
                                <p>Вы получаете материал еще дешевле, чем при покупке у проивзодителя, так как для клиентов они держат рыночную цену. <br />Ваша выгода составит от 18% от розничных цен. <br />Это, в среднем - 15000 - 57000 рублей.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-in">
                            <div class="b-title bt26 ff-tinos bold no-margin"><div class="n b-title bt40 ff-tinos bold color4 no-margin">6</div>Монтаж в соответствии с ГОСТ</div>
                            <div class="text-in">
                                <p>ООО «СтройГруппМонтаж» имеет  более 20 прямых договоров с заводами-производителями сайдинга, кровельных и расходных материалов.</p>
                                <h6 style="color:#232c3f;font-family: Tinos,serif;font-weight:600;">Ваша выгода</h6>
                                <p>Вы получаете материал еще дешевле, чем при покупке у проивзодителя, так как для клиентов они держат рыночную цену. <br />Ваша выгода составит от 18% от розничных цен. <br />Это, в среднем - 15000 - 57000 рублей.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-in">
                            <div class="b-title bt26 ff-tinos bold no-margin"><div class="n b-title bt40 ff-tinos bold color4 no-margin">7</div>«Под ключ»</div>
                            <div class="text-in">
                                <p>ООО «СтройГруппМонтаж» имеет  более 20 прямых договоров с заводами-производителями сайдинга, кровельных и расходных материалов.</p>
                                <h6 style="color:#232c3f;font-family: Tinos,serif;font-weight:600;">Ваша выгода</h6>
                                <p>Вы получаете материал еще дешевле, чем при покупке у проивзодителя, так как для клиентов они держат рыночную цену. <br />Ваша выгода составит от 18% от розничных цен. <br />Это, в среднем - 15000 - 57000 рублей.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-in">
                            <div class="b-title bt26 ff-tinos bold no-margin"><div class="n b-title bt40 ff-tinos bold color4 no-margin">8</div>Личная ответственность</div>
                            <div class="text-in">
                                <p>ООО «СтройГруппМонтаж» имеет  более 20 прямых договоров с заводами-производителями сайдинга, кровельных и расходных материалов.</p>
                                <h6 style="color:#232c3f;font-family: Tinos,serif;font-weight:600;">Ваша выгода</h6>
                                <p>Вы получаете материал еще дешевле, чем при покупке у проивзодителя, так как для клиентов они держат рыночную цену. <br />Ваша выгода составит от 18% от розничных цен. <br />Это, в среднем - 15000 - 57000 рублей.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-in">
                            <div class="b-title bt26 ff-tinos bold no-margin"><div class="n b-title bt40 ff-tinos bold color4 no-margin">9</div>40% клиентов обращаются снова</div>
                            <div class="text-in">
                                <p>ООО «СтройГруппМонтаж» имеет  более 20 прямых договоров с заводами-производителями сайдинга, кровельных и расходных материалов.</p>
                                <h6 style="color:#232c3f;font-family: Tinos,serif;font-weight:600;">Ваша выгода</h6>
                                <p>Вы получаете материал еще дешевле, чем при покупке у проивзодителя, так как для клиентов они держат рыночную цену. <br />Ваша выгода составит от 18% от розничных цен. <br />Это, в среднем - 15000 - 57000 рублей.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-in">
                            <div class="b-title bt26 ff-tinos bold no-margin"><div class="n b-title bt40 ff-tinos bold color4 no-margin">10</div>2890 объектов сделали</div>
                            <div class="text-in">
                                <p>ООО «СтройГруппМонтаж» имеет  более 20 прямых договоров с заводами-производителями сайдинга, кровельных и расходных материалов.</p>
                                <h6 style="color:#232c3f;font-family: Tinos,serif;font-weight:600;">Ваша выгода</h6>
                                <p>Вы получаете материал еще дешевле, чем при покупке у проивзодителя, так как для клиентов они держат рыночную цену. <br />Ваша выгода составит от 18% от розничных цен. <br />Это, в среднем - 15000 - 57000 рублей.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
