<div class="top-block block-padding" style="background-color: #1D1D1B;background-image:url(images/category-products/top-block/bg.jpg);background-repeat: no-repeat;background-position: center;">
    <div class="bg-image-mobile" style="background-color: #1D1D1B;background-image:url(images/category-products/top-block/bg.jpg);background-repeat: no-repeat;background-position: center;"></div>
    <div class="container">
        <div class="in">
            <div class="b-title bt72 white no-margin ff-tinos">Фасадные панели</div>
            <div class="b-title-line"></div>
            <div class="b-title bt30 white no-margin">по акции до -20% при заказе монтажа под ключ*</div>
            <div class="b-title bt11 white no-margin">* условия акции, сроки проведения расскажем вам по телефону +7 (812) 509-21-23</div>
        </div>
    </div>
</div>