<div class="cbform block-padding">
    <div class="container">
        <div class="in">
            <div class="left">
                <div class="manager">
                    <img src="images/home/cbform/image.jpg" alt="" />
                    <div class="caption">
                        <div class="b-title bt18 semibold align-center no-margin">Фамилия Имя</div>
                        <div class="b-title bt16 align-center no-margin">менеджер по работе с клиентами</div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="cbform-in">
                    <div class="b-title bt44 ff-tinos bold">Остался вопрос по <i>фасадным работам?</i></div>
                    <div class="cbform-items">
                        <div class="left">
                            <div class="text-in no-margin">
                                <h6>Вы нашли, что искали — <br />Вашего подрядчика по фасадным работам!</h6>
                                <h6>Гарантируем:</h6>
                                <ul>
                                    <li>лучшее предложение по монтажу сайдинга;</li>
                                    <li>лучшее предложение по строй=материалам.</li>
                                </ul>
                                <h6 style="font-weight:normal;">Проверьте сами - просто напишите вопрос или прикрепите смету для сравнения в форме справа!</h6>
                            </div>
                        </div>
                        <div class="right">
                            <form class="form-style">
                                <div class="f-item">
                                    <textarea name="text" placeholder="Ваш вопрос"></textarea>
                                </div>
                                <div class="f-item">
                                    <div class="f-item-50">
                                        <input type="tel" name="phone" placeholder="Ваш телефон" required />
                                    </div>
                                    <div class="f-item-50">
                                        <input type="email" name="email" placeholder="Электронная почта" />
                                    </div>
                                </div>
                                <div class="f-item f-item-align-top">
                                    <div class="f-item-50">
                                        <input type="text" name="name" placeholder="Ваше имя" />
                                    </div>
                                    <div class="f-item-50 f-item-uppload-files">
                                        <div class="f-item-upload-files-in">
                                            <div class="uppload-files">
                                                <span class="attach-files attach-files-btn fileinput-button">
                                                    <span class="b-title bt15 semibold color7 no-margin">Прикрепить</span>
                                                    <input id="inp-file" class="inp-file" type="file" multiple="">
                                                </span>
                                            </div>
                                            <div class="uppload-files-title b-title bt11 no-margin">
                                                <span>Можно прикрепить смету, план дома или документы до 10 Мб</span>
                                            </div>
                                        </div>
                                        <div class="file-added"></div>
                                    </div>
                                </div>
                                <div class="f-item">
                                    <div class="f-item-50">
                                        <button type="submit" class="styled-btn styled-btn-1 styled-btn-without-shadow submit">Отправить</button>
                                    </div>
                                    <div class="f-item-50">
                                        <div class="privacy-policy-form b-title bt14">Нажимая на кнопку, вы соглашаетесь c <a href="/privacy-policy/" target="_blank">политикой конфиденциальности</a></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-title-texture b-title-texture-absolute b-title-texture-reverse"></div>
        </div>
    </div>
</div>
