<div class="certificates block-padding">
    <div class="container">
        <div class="block-title b-title ff-tinos bold b-title-flex"><div class="b-title-texture"></div><span>Документы и <i>сертификаты</i></span></div>
        <div class="in block-padding bp35 no-padding-bottom">
            <div class="items">
                <a href="#" target="_blank" class="item">
                    <div class="image">
                        <div class="image-in">
                            <img src="images/home/certificates/image.jpg" alt="" />
                            <div class="b-title-texture b-title-texture-absolute"></div>
                            <div class="caption">
                                <svg>
                                    <use xlink:href="#icon-pdf"/>
                                </svg>
                                <div class="b-title bt20 semibold color1 align-center"><span>Смотреть документ</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <div class="b-title bt16">Сертификат дилера торговой марки Docke, 2006 г.</div>
                    </div>
                </a>
                <a href="#" target="_blank" class="item">
                    <div class="image">
                        <div class="image-in">
                            <img src="images/home/certificates/image.jpg" alt="" />
                            <div class="b-title-texture b-title-texture-absolute"></div>
                            <div class="caption">
                                <svg>
                                    <use xlink:href="#icon-pdf"/>
                                </svg>
                                <div class="b-title bt20 semibold color1 align-center"><span>Смотреть документ</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <div class="b-title bt16">Сертификат дилера торговой марки Docke, 2006 г.</div>
                    </div>
                </a>
                <a href="#" target="_blank" class="item">
                    <div class="image">
                        <div class="image-in">
                            <img src="images/home/certificates/image.jpg" alt="" />
                            <div class="b-title-texture b-title-texture-absolute"></div>
                            <div class="caption">
                                <svg>
                                    <use xlink:href="#icon-pdf"/>
                                </svg>
                                <div class="b-title bt20 semibold color1 align-center"><span>Смотреть документ</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <div class="b-title bt16">Сертификат дилера торговой марки Docke, 2006 г.</div>
                    </div>
                </a>
                <a href="#" target="_blank" class="item">
                    <div class="image">
                        <div class="image-in">
                            <img src="images/home/certificates/image.jpg" alt="" />
                            <div class="b-title-texture b-title-texture-absolute"></div>
                            <div class="caption">
                                <svg>
                                    <use xlink:href="#icon-pdf"/>
                                </svg>
                                <div class="b-title bt20 semibold color1 align-center"><span>Смотреть документ</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <div class="b-title bt16">Сертификат дилера торговой марки Docke, 2006 г.</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
