<div class="collections-list block-padding">
    <div class="container">
        <ul class="collections-list__list">
            <li class="collections-list__item">
                <a href="#collection-slug" class="collections-list__item-link">
                    <div class="collections-list__img">
                        <img src="images/product-card/burg-300x335.png" alt="">
                    </div>
                    <div class="collections-list__info">
                        <div class="collections-list__title">
                            <span>Коллекция BURG</span>
                        </div>
                        <div class="collections-list__text">
                            Короткое описание коллекции и её основных преимуществ и характеристик
                        </div>
                    </div>
                </a>
            </li>
            <li class="collections-list__item">
                <a href="#" class="collections-list__item-link">
                    <div class="collections-list__img">
                        <img src="images/product-card/burg-300x335.png" alt="">
                    </div>
                    <div class="collections-list__info">
                        <div class="collections-list__title">
                            <span>Коллекция BURG</span>
                        </div>
                        <div class="collections-list__text">
                            Короткое описание коллекции и её основных преимуществ и характеристик
                        </div>
                    </div>
                </a>
            </li>
            <li class="collections-list__item">
                <a href="#" class="collections-list__item-link">
                    <div class="collections-list__img">
                        <img src="images/product-card/burg-300x335.png" alt="">
                    </div>
                    <div class="collections-list__info">
                        <div class="collections-list__title">
                            <span>Коллекция BURG</span>
                        </div>
                        <div class="collections-list__text">
                            Короткое описание коллекции и её основных преимуществ и характеристик
                        </div>
                    </div>
                </a>
            </li>
            <li class="collections-list__item">
                <a href="#" class="collections-list__item-link">
                    <div class="collections-list__img">
                        <img src="images/product-card/burg-300x335.png" alt="">
                    </div>
                    <div class="collections-list__info">
                        <div class="collections-list__title">
                            <span>Коллекция BURG</span>
                        </div>
                        <div class="collections-list__text">
                            Короткое описание коллекции и её основных преимуществ и характеристик
                        </div>
                    </div>
                </a>
            </li>
            <li class="collections-list__item">
                <a href="#" class="collections-list__item-link">
                    <div class="collections-list__img">
                        <img src="images/product-card/burg-300x335.png" alt="">
                    </div>
                    <div class="collections-list__info">
                        <div class="collections-list__title">
                            <span>Коллекция BURG</span>
                        </div>
                        <div class="collections-list__text">
                            Короткое описание коллекции и её основных преимуществ и характеристик
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>