<div class="lead-form">
    <form action="" class="lead-form__form" data-form-subject="SGM | Форма: Whatsapp">
        <div class="lead-form__title">Для перехода в чат с менеджером СтройГруппМонтаж, введите номер телефона</div>
        <div class="lead-form__control">
            <label for="lead-form__input-phone" class="lead-form__label lead-form__label_input">Телефон</label>
            <input type="tel" name="phone" id="lead-form__input-phone" class="lead-form__input">
        </div>
        <div class="lead-form__control">
            <button type="submit" class="lead-form__button submit">Перейти в WhatsApp</button>
        </div>
    </form>
</div>