<div class="design-3d block-padding">
    <div class="container">
        <div class="in">
            <div class="left">
                <div class="images">
                    <div class="image">
                        <div class="image-in">
                            <img src="images/single-service/design-3d/image-1.jpg" alt="" />
                        </div>
                        <div class="caption">
                            <div class="b-title bt24 bold ff-tinos no-margin">
                                Фото готовой работы
                                <svg>
                                    <use xlink:href="#icon-arrow-right-calc"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="image">
                        <div class="image-in">
                            <img src="images/single-service/design-3d/image-2.jpg" alt="" />
                        </div>
                        <div class="caption">
                            <div class="b-title bt24 bold ff-tinos no-margin">
                                3D-визуализация
                                <svg>
                                    <use xlink:href="#icon-arrow-right-calc"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="b-title ff-tinos bold b-title-flex"><div class="b-title-texture b-title-texture-absolute"></div><span>3D дизайн фасада Вашего дома</span></div>
                <div class="text-in">
                    <p>Архитектор покажет, как будет выглядеть обновленный фасад Вашего дома в результате работы</p>
                    <ul>
                        <li>Скомбинирует разные фактуры</li>
                        <li>Подберет выгодные цветовые сочетания</li>
                        <li>Разработает эффектный дизайн фасада для Вашего дома в рамках Вашего бюджета</li>
                    </ul>
                    <p>При правильном монтаже срок службы винилового сайдинга достигает 50 лет.</p>
                </div>
                <div class="btn">
                    <a class="styled-btn styled-btn-1 styled-btn-size2 styled-btn-without-shadow">Заказать дизайн фасада</a>
                </div>
            </div>
        </div>
    </div>
</div>
