<div class="features block-padding">
    <div class="container">
        <div class="block-title b-title ff-tinos bold b-title-flex"><div class="b-title-texture"></div><span>Ключевые моменты <i>качественного <br />монтажа сайдинга</i></span></div>
        <div class="in block-padding bp35 no-padding-bottom">
            <div class="items-titles">
                <div class="items-title">
                    <div class="b-title bt26 bold no-margin">Результат</div>
                    <div class="b-title bt18 no-margin">при правильном монтаже</div>
                </div>
                <div class="items-title">
                    <div class="b-title bt26 bold no-margin">Последствия</div>
                    <div class="b-title bt18 no-margin">при несоблюдении </div>
                </div>
            </div>
            <div class="items">
                <div class="item">
                    <div class="sub-item">
                        <div class="image">
                            <div class="image-in">
                                <img src="images/single-service/features/image.jpg" alt="" />
                            </div>
                        </div>
                        <div class="desc">
                            <div class="b-title bt26 bold no-margin">Зазоры для <br />расширения</div>
                            <div class="text-in">
                                <p>Зазор между доборными элементами и самим сайдингом играет роль компенсатора <b>при температурном расширении панелей.</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="sub-item">
                        <div class="icon">
                            <svg>
                                <use xlink:href="#icon-check-features"/>
                            </svg>
                        </div>
                        <div class="text-in">
                            <p><b>Сайдинг будет выводить излишки влаги</b> и конденсат, что позволит сохранить стены дома в целости дольше</p>
                        </div>
                    </div>
                    <div class="sub-item">
                        <div class="icon icon-grey">
                            <svg>
                                <use xlink:href="#icon-close-features"/>
                            </svg>
                        </div>
                        <div class="text-in">
                            <p>Панели сайдинга при сезонных перепадах температуры будут "размыкаться" и между ними <b>будут появляться щели</b></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="sub-item">
                        <div class="image">
                            <div class="image-in">
                                <img src="images/single-service/features/image.jpg" alt="" />
                            </div>
                        </div>
                        <div class="desc">
                            <div class="b-title bt26 bold no-margin">Зазоры для <br />расширения</div>
                            <div class="text-in">
                                <p>Зазор между доборными элементами и самим сайдингом играет роль компенсатора <b>при температурном расширении панелей.</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="sub-item">
                        <div class="icon">
                            <svg>
                                <use xlink:href="#icon-check-features"/>
                            </svg>
                        </div>
                        <div class="text-in">
                            <p><b>Сайдинг будет выводить излишки влаги</b> и конденсат, что позволит сохранить стены дома в целости дольше</p>
                        </div>
                    </div>
                    <div class="sub-item">
                        <div class="icon icon-grey">
                            <svg>
                                <use xlink:href="#icon-close-features"/>
                            </svg>
                        </div>
                        <div class="text-in">
                            <p>Панели сайдинга при сезонных перепадах температуры будут "размыкаться" и между ними <b>будут появляться щели</b></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="sub-item">
                        <div class="image">
                            <div class="image-in">
                                <img src="images/single-service/features/image.jpg" alt="" />
                            </div>
                        </div>
                        <div class="desc">
                            <div class="b-title bt26 bold no-margin">Зазоры для <br />расширения</div>
                            <div class="text-in">
                                <p>Зазор между доборными элементами и самим сайдингом играет роль компенсатора <b>при температурном расширении панелей.</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="sub-item">
                        <div class="icon">
                            <svg>
                                <use xlink:href="#icon-check-features"/>
                            </svg>
                        </div>
                        <div class="text-in">
                            <p><b>Сайдинг будет выводить излишки влаги</b> и конденсат, что позволит сохранить стены дома в целости дольше</p>
                        </div>
                    </div>
                    <div class="sub-item">
                        <div class="icon icon-grey">
                            <svg>
                                <use xlink:href="#icon-close-features"/>
                            </svg>
                        </div>
                        <div class="text-in">
                            <p>Панели сайдинга при сезонных перепадах температуры будут "размыкаться" и между ними <b>будут появляться щели</b></p>
                        </div>
                    </div>
                </div>
                <div class="item hidden">
                    <div class="sub-item">
                        <div class="image">
                            <div class="image-in">
                                <img src="images/single-service/features/image.jpg" alt="" />
                            </div>
                        </div>
                        <div class="desc">
                            <div class="b-title bt26 bold no-margin">Зазоры для <br />расширения</div>
                            <div class="text-in">
                                <p>Зазор между доборными элементами и самим сайдингом играет роль компенсатора <b>при температурном расширении панелей.</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="sub-item">
                        <div class="icon">
                            <svg>
                                <use xlink:href="#icon-check-features"/>
                            </svg>
                        </div>
                        <div class="text-in">
                            <p><b>Сайдинг будет выводить излишки влаги</b> и конденсат, что позволит сохранить стены дома в целости дольше</p>
                        </div>
                    </div>
                    <div class="sub-item">
                        <div class="icon icon-grey">
                            <svg>
                                <use xlink:href="#icon-close-features"/>
                            </svg>
                        </div>
                        <div class="text-in">
                            <p>Панели сайдинга при сезонных перепадах температуры будут "размыкаться" и между ними <b>будут появляться щели</b></p>
                        </div>
                    </div>
                </div>
                <div class="item hidden">
                    <div class="sub-item">
                        <div class="image">
                            <div class="image-in">
                                <img src="images/single-service/features/image.jpg" alt="" />
                            </div>
                        </div>
                        <div class="desc">
                            <div class="b-title bt26 bold no-margin">Зазоры для <br />расширения</div>
                            <div class="text-in">
                                <p>Зазор между доборными элементами и самим сайдингом играет роль компенсатора <b>при температурном расширении панелей.</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="sub-item">
                        <div class="icon">
                            <svg>
                                <use xlink:href="#icon-check-features"/>
                            </svg>
                        </div>
                        <div class="text-in">
                            <p><b>Сайдинг будет выводить излишки влаги</b> и конденсат, что позволит сохранить стены дома в целости дольше</p>
                        </div>
                    </div>
                    <div class="sub-item">
                        <div class="icon icon-grey">
                            <svg>
                                <use xlink:href="#icon-close-features"/>
                            </svg>
                        </div>
                        <div class="text-in">
                            <p>Панели сайдинга при сезонных перепадах температуры будут "размыкаться" и между ними <b>будут появляться щели</b></p>
                        </div>
                    </div>
                </div>
                <div class="item hidden">
                    <div class="sub-item">
                        <div class="image">
                            <div class="image-in">
                                <img src="images/single-service/features/image.jpg" alt="" />
                            </div>
                        </div>
                        <div class="desc">
                            <div class="b-title bt26 bold no-margin">Зазоры для <br />расширения</div>
                            <div class="text-in">
                                <p>Зазор между доборными элементами и самим сайдингом играет роль компенсатора <b>при температурном расширении панелей.</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="sub-item">
                        <div class="icon">
                            <svg>
                                <use xlink:href="#icon-check-features"/>
                            </svg>
                        </div>
                        <div class="text-in">
                            <p><b>Сайдинг будет выводить излишки влаги</b> и конденсат, что позволит сохранить стены дома в целости дольше</p>
                        </div>
                    </div>
                    <div class="sub-item">
                        <div class="icon icon-grey">
                            <svg>
                                <use xlink:href="#icon-close-features"/>
                            </svg>
                        </div>
                        <div class="text-in">
                            <p>Панели сайдинга при сезонных перепадах температуры будут "размыкаться" и между ними <b>будут появляться щели</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="show-more">
                <div class="b-title bt20 color4 semibold">
                    <span>Показать еще 3 пункта</span>
                </div>
            </div>
        </div>
    </div>
</div>
