<div class="finishing-options block-padding">
    <div class="container">
        <div class="b-title ff-tinos bold b-title-flex"><div class="b-title-texture"></div><span>Варианты отделки фасада <i>виниловым сайдингом</i>:</span></div>
        <div class="in block-padding bp35 no-padding-bottom">
            <div class="items">
                <div class="item">
                    <div class="top">
                        <div class="b-title bt26 bold ff-tinos no-margin">Корабельный брус</div>
                        <div class="b-title-texture b-title-texture-absolute b-title-texture-reverse2"></div>
                    </div>
                    <div class="image">
                        <img src="images/single-service/finishing-options/image-1.jpg" alt="" />
                    </div>
                    <div class="caption">
                        <div class="b-title bt16 semibold no-margin">Стоимость:</div>
                        <div class="params">
                            <div class="param b-title bt16 no-margin">
                                <svg>
                                    <use xlink:href="#icon-ruble"/>
                                </svg>
                                <b>от 250 руб/м²</b> - строительные материалы
                            </div>
                            <div class="param b-title bt16 no-margin">
                                <svg>
                                    <use xlink:href="#icon-ruble"/>
                                </svg>
                                <b>от 250 руб/м²</b> - монтажные работы
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <div class="b-title bt26 bold ff-tinos no-margin">«Под дерево»</div>
                        <div class="b-title-texture b-title-texture-absolute b-title-texture-reverse2"></div>
                    </div>
                    <div class="image">
                        <img src="images/single-service/finishing-options/image-2.jpg" alt="" />
                    </div>
                    <div class="caption">
                        <div class="b-title bt16 semibold no-margin">Стоимость:</div>
                        <div class="params">
                            <div class="param b-title bt16 no-margin">
                                <svg>
                                    <use xlink:href="#icon-ruble"/>
                                </svg>
                                <b>от 250 руб/м²</b> - строительные материалы
                            </div>
                            <div class="param b-title bt16 no-margin">
                                <svg>
                                    <use xlink:href="#icon-ruble"/>
                                </svg>
                                <b>от 250 руб/м²</b> - монтажные работы
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <div class="b-title bt26 bold ff-tinos no-margin">Вертикальный сайдинг</div>
                        <div class="b-title-texture b-title-texture-absolute b-title-texture-reverse2"></div>
                    </div>
                    <div class="image">
                        <img src="images/single-service/finishing-options/image-3.jpg" alt="" />
                    </div>
                    <div class="caption">
                        <div class="b-title bt16 semibold no-margin">Стоимость:</div>
                        <div class="params">
                            <div class="param b-title bt16 no-margin">
                                <svg>
                                    <use xlink:href="#icon-ruble"/>
                                </svg>
                                <b>от 250 руб/м²</b> - строительные материалы
                            </div>
                            <div class="param b-title bt16 no-margin">
                                <svg>
                                    <use xlink:href="#icon-ruble"/>
                                </svg>
                                <b>от 250 руб/м²</b> - монтажные работы
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
