</div>
<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__col">
                <div class="footer__logo logo">
                    <img src="/images/logo-whatsapp.svg" alt="">
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__menu">
                    <div class="footer__menu-list">
                        <div class="footer__menu-title">Наш продукт</div>
                        <a href="#" class="footer__menu-item">Функции</a>
                        <a href="#" class="footer__menu-item">Блог</a>
                        <a href="#" class="footer__menu-item">Безопасность</a>
                        <a href="#" class="footer__menu-item">Для компаний</a>
                    </div>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__menu">
                    <div class="footer__menu-list">
                        <div class="footer__menu-title">Наша команда</div>
                        <a href="#" class="footer__menu-item">О нас</a>
                        <a href="#" class="footer__menu-item">Карьера</a>
                        <a href="#" class="footer__menu-item">Бренд-центр</a>
                        <a href="#" class="footer__menu-item">Для компаний</a>
                    </div>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__menu">
                    <div class="footer__menu-list">
                        <div class="footer__menu-title">WhatsApp</div>
                        <a href="#" class="footer__menu-item">Android</a>
                        <a href="#" class="footer__menu-item">iPhone</a>
                        <a href="#" class="footer__menu-item">Mac/ПК</a>
                        <a href="#" class="footer__menu-item">WhatsApp Web</a>
                    </div>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__menu">
                    <div class="footer__menu-list">
                        <div class="footer__menu-title">Нужна помощь?</div>
                        <a href="#" class="footer__menu-item">Связаться с нами</a>
                        <a href="#" class="footer__menu-item">Справочный центр</a>
                        <a href="#" class="footer__menu-item">Приложения</a>
                        <a href="#" class="footer__menu-item">Меры безопасности</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/messengers-main.min.js"></script>
</body>
</html>
