</div>
<footer id="footer">
    <div class="container">
        <div class="top">
            <div class="in">
                <div class="in-item">
                    <a class="site-logo" href="@@webRoot">
                        <div class="image">
                            <img class="logo-normal" src="images/logo-text-white.svg" alt="" />
                            <img class="logo-scrolled" src="images/logo-scrolled.svg" alt="" />
                        </div>
                    </a>
                    <div class="site-contacts-item site-contacts-item-slogan">
                        <div class="b-title bt16 no-margin white">Отделка фасадов <br />и монтаж кровли в СПб и ЛО. <br />Работаем с 2005 года</div>
                    </div>
                </div>
                <div class="in-item in-item-menu-items">
                    <div class="in-item-menu-item">
                        <div class="b-title bt20 white">УСЛУГИ:</div>
                        <ul class="menu">
                            <li>
                                <a href="#">ФАСАДНЫЕ РАБОТЫ:</a>
                            </li>
                            <li>
                                <a href="#">Виниловый сайдинг</a>
                            </li>
                            <li>
                                <a href="#">Металлический сайдинг</a>
                            </li>
                            <li>
                                <a href="#">Фасадный панели</a>
                            </li>
                            <li>
                                <a href="#">Деревянный блок-хаус</a>
                            </li>
                            <li>
                                <a href="#">Фиброцементный сайдинг</a>
                            </li>
                            <li>
                                <a href="#">Мокрый фасад</a>
                            </li>
                            <li>
                                <a href="#">Утепеление фасадов</a>
                            </li>
                        </ul>
                    </div>
                    <div class="in-item-menu-item">
                        <div class="b-title bt20 white">ТОВАРЫ:</div>
                        <ul class="menu">
                            <li>
                                <a href="#">Виниловый сайдинг</a>
                            </li>
                            <li>
                                <a href="#">Металлический сайдинг</a>
                            </li>
                            <li>
                                <a href="#">Фасадный панели</a>
                            </li>
                            <li>
                                <a href="#">Деревянный блок-хаус</a>
                            </li>
                            <li>
                                <a href="#">Фиброцементный сайдинг</a>
                            </li>
                            <li>
                                <a href="#">Мокрый фасад</a>
                            </li>
                        </ul>
                    </div>
                    <div class="in-item-menu-item">
                        <div class="b-title bt20 white">МЕНЮ:</div>
                        <ul class="menu">
                            <li>
                                <a href="#">О компании</a>
                            </li>
                            <li>
                                <a href="#">Наши работы</a>
                            </li>
                            <li class="scrolled-item">
                                <a href="#full-map">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="in-item">
                    <div class="site-contacts-item site-contacts-item-phone">
                        <div class="b-title bt30 semibold no-margin white"><i>+7 (812)</i> 645-12-05</div>
                        <div class="b-title bt16 color7 cb-link no-margin"><span>Заказать звонок</span></div>
                    </div>
                    <div class="site-contacts-item site-contacts-item-email">
                        <div class="b-title bt16 no-margin white"><b>E-mail:</b> info@spbsgm.ru</div>
                        <div class="b-title bt16 color7 cb-link no-margin"><span>Написать нам</span></div>
                    </div>
                    <div class="site-contacts-item site-contacts-item-address">
                        <div class="b-title bt16 no-margin white"><b>Офис:</b> м. Нарвская, Нарвский <br />пр-т 22, офис 202</div>
                        <div class="b-title bt16 color7 cb-link no-margin"><span>Смотреть на карте</span></div>
                    </div>
                    <div class="site-contacts-item site-contacts-item-address">
                        <div class="b-title bt16 no-margin white"><b>График работы:</b> <br />ежедневно с 9:00 до 20:00</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="in">
                <a class="privacy-policy b-title bt16 white no-margin" href="/privacy-policy/" target="_blank">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="js/main.min.js"></script>
</body>
</html>
