<div class="full-map" id="full-map">
    <div class="container">
        <div class="in">
            <div class="caption">
                <div class="caption-in">
                    <div class="block-title b-title ff-tinos bold">Адрес <i>офиса:</i></div>
                    <div class="site-contacts-item site-contacts-item-phone">
                        <div class="b-title bt30 semibold no-margin"><i>+7 (812)</i> 645-12-05</div>
                        <div class="b-title bt16 color7 cb-link no-margin"><span>Заказать звонок</span></div>
                    </div>
                    <div class="site-contacts-item site-contacts-item-email">
                        <div class="site-contacts-item-flex">
                            <div class="site-contacts-item-flex-item">
                                <div class="b-title bt16 no-margin">info@spbsgm.ru</div>
                                <div class="b-title bt16 color7 cb-link no-margin"><span>Написать нам</span></div>
                            </div>
                            <div class="site-contacts-item-flex-item">
                                <ul class="social-links social-links-color2">
                                    <li>
                                        <a href="#" target="_blank">
                                            <svg>
                                                <use xlink:href="#icon-facebook"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <svg>
                                                <use xlink:href="#icon-vk"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <svg>
                                                <use xlink:href="#icon-twitter"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <svg>
                                                <use xlink:href="#icon-youtube"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <svg>
                                                <use xlink:href="#icon-instagram"/>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="site-contacts-item site-contacts-item-address site-contacts-item-metro">
                        <div class="b-title bt16 no-margin"><b>м. Проспект Ветеранов:</b> <br />Санкт-Петербург, <br />Нарвский проспект 22, офис 202</div>
                    </div>
                    <div class="site-contacts-item site-contacts-item-address">
                        <div class="b-title bt16 no-margin"><b>График работы:</b> <br />ежедневно с 9:00 до 20:00</div>
                    </div>
                    <div class="gift">
                        <div class="gift-in">
                            <div class="b-title bt16 semibold no-margin">Живете далеко от офиса?</div>
                            <div class="b-title bt16 no-margin">В случае заключения договора - с нас такси от Вашего дома до офиса.</div>
                        </div>
                        <div class="icon">
                            <div class="icon-in">
                                <svg>
                                    <use xlink:href="#icon-gift"/>
                                </svg>
                            </div>
                            <div class="arrow">
                                <svg>
                                    <use xlink:href="#icon-arrow-right-calc"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="texture"></div>
            </div>
        </div>
        <div id="ymap-container" class="ymap-container" data-lat="59.839825608514" data-lng="30.298997461795" data-icon="images/map-marker-icon.svg" data-icon-width="50" data-icon-height="68" data-map-type="all-contacts"></div>
    </div>
</div>
