<div class="gallery-images block-padding no-padding-bottom">
    <div class="in">
        <div class="gallery-images-wrapper">
            <div class="gallery-nav prev">
                <svg>
                    <use xlink:href="#icon-arrow-right"/>
                </svg>
            </div>
            <div class="gallery-nav next">
                <svg>
                    <use xlink:href="#icon-arrow-right"/>
                </svg>
            </div>
            <div class="gallery-images-items">
                <div class="gallery-images-items-column">
                    <a href="images/single-portfolio/gallery-images/image-1-207x150@2x.jpg" data-fancybox="gallery-images" rel="lightbox" class="gallery-images-item">
                        <img src="images/single-portfolio/gallery-images/image-1-207x150@2x.jpg" alt="" />
                    </a>
                    <a href="images/single-portfolio/gallery-images/image-2-207x150@2x.jpg" data-fancybox="gallery-images" rel="lightbox" class="gallery-images-item">
                        <img src="images/single-portfolio/gallery-images/image-2-207x150@2x.jpg" alt="" />
                    </a>
                    <a href="images/single-portfolio/gallery-images/image-2-420x294@2x.jpg" data-fancybox="gallery-images" rel="lightbox" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-2">
                        <img src="images/single-portfolio/gallery-images/image-2-420x294@2x.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-2">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-3">
                        <img src="images/single-portfolio/gallery-images/image-2-320x222@2x.jpg" alt="" />
                    </a>
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-3">
                        <img src="images/single-portfolio/gallery-images/image-1-320x222@2x.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-images-items-column">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-2">
                        <img src="images/single-portfolio/gallery-images/image-1-420x294@2x.jpg" alt="" />
                    </a>
                    <a href="#" class="gallery-images-item">
                        <img src="images/single-portfolio/gallery-images/image-3-207x150@2x.jpg" alt="" />
                    </a>
                    <a href="#" class="gallery-images-item">
                        <img src="images/single-portfolio/gallery-images/image-4-207x150@2x.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-2">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-3">
                        <img src="images/single-portfolio/gallery-images/image-1-320x222@2x.jpg" alt="" />
                    </a>
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-3">
                        <img src="images/single-portfolio/gallery-images/image-2-320x222@2x.jpg" alt="" />
                    </a>
                </div>
                <div class="gallery-images-items-column">
                    <a href="#" class="gallery-images-item">
                        <img src="images/single-portfolio/gallery-images/image-2-207x150@2x.jpg" alt="" />
                    </a>
                    <a href="#" class="gallery-images-item">
                        <img src="images/single-portfolio/gallery-images/image-3-207x150@2x.jpg" alt="" />
                    </a>
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-2">
                        <img src="images/single-portfolio/gallery-images/image-2-420x294@2x.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
