<div class="gallery-images gallery-images-type2 gallery-images-products block-padding no-padding-bottom">
    <div class="container">
        <div class="b-title ff-tinos bold b-title-flex"><div class="b-title-texture"></div><span>Ассортимент и стоимость материалов</i></span></div>
    </div>
    <div class="in block-padding no-padding-bottom">
        <div class="gallery-images-wrapper block-padding bp20">
            <div class="gallery-nav prev">
                <svg>
                    <use xlink:href="#icon-arrow-right"/>
                </svg>
            </div>
            <div class="gallery-nav next">
                <svg>
                    <use xlink:href="#icon-arrow-right"/>
                </svg>
            </div>
            <div class="gallery-images-items">
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card.html')
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="show-all-block block-padding bp30">
    <div class="show-all-block__wrap">
            <div class="show-all-block__btn styled-btn styled-btn-1 styled-btn-size2 styled-btn-without-shadow styled-btn-anim-x-hover">
            Все панели Docke
            <svg class="arrow-right">
                <use xlink:href="#icon-arrow-right"></use>
            </svg>
        </div>
    </div>
</div>