<div class="gallery-images gallery-images-type2 block-padding no-padding-bottom">
    <div class="in">
        <div class="gallery-images-wrapper">
            <div class="gallery-nav prev">
                <svg>
                    <use xlink:href="#icon-arrow-right"/>
                </svg>
            </div>
            <div class="gallery-nav next">
                <svg>
                    <use xlink:href="#icon-arrow-right"/>
                </svg>
            </div>
            <div class="gallery-images-items">
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
