<div class="gallery-images gallery-images-type2 gallery-images-products block-padding no-padding-bottom">
    <div class="container">
        <div class="b-title ff-tinos bold b-title-flex"><div class="b-title-texture"></div><span>Docke</i></span></div>
        <div class="block-desc b-title bt18 b-title-texture-padding-left js-foldable">Каменный дом — это красиво, надежно и престижно, но не всегда доступно. Современные технологии производства строительных материалов предлагают достойную альтернативу дорогим природным минералам. Фасадные панели стоят в несколько раз дешевле, весят значительно меньше и при этом имитируют каменную и кирпичную кладку настолько точно, что стены дома невозможно отличить от выложенных из натуральных материалов даже с очень близкого расстояния.</div>
    </div>
    <div class="in block-padding no-padding-bottom">
        <div class="gallery-images-wrapper block-padding bp20">
            <div class="gallery-nav prev">
                <svg>
                    <use xlink:href="#icon-arrow-right"/>
                </svg>
            </div>
            <div class="gallery-nav next">
                <svg>
                    <use xlink:href="#icon-arrow-right"/>
                </svg>
            </div>
            <div class="gallery-images-items">
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
                <div class="gallery-images-items-column gallery-images-items-column-width-3">
                    <a href="#" class="gallery-images-item gallery-images-item-width-2 gallery-images-item-height-auto">
                        @@include('product-card--wo-btn.html')
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="show-all-block block-padding bp30">
    <div class="show-all-block__wrap">
            <div class="show-all-block__btn styled-btn styled-btn-1 styled-btn-size2 styled-btn-without-shadow styled-btn-anim-x-hover">
            Все панели Docke
            <svg class="arrow-right">
                <use xlink:href="#icon-arrow-right"></use>
            </svg>
        </div>
    </div>
</div>
<div class="delimeter-block block-padding bp20">
    <div class="delimeter-block__wrap">
        <div class="delimeter-block__icon">
            <svg class="arrow-down">
                <use xlink:href="#icon-arrow-down"></use>
            </svg>
        </div>
        <div class="delimeter-block__icon">
            <svg class="arrow-down">
                <use xlink:href="#icon-arrow-down"></use>
            </svg>
        </div>
    </div>
</div>