<div class="gift-bn gift-bn-reverse block-padding" style="background:url(images/single-service/gift-bn-reverse/image-1.jpg) no-repeat center center;">
    <div class="container">
        <div class="in">
            <div class="left">
                <div class="image">
                    <img src="images/single-service/gift-bn-reverse/image-2.jpg" alt="" />
                    <div class="caption">
                        <div class="b-title bt18 semibold white no-margin">Фамилия Имя Отчество</div>
                        <div class="b-title bt16 white no-margin">должность ООО «СтройГруппМонтаж»</div>
                        <div class="b-title bt16 white no-margin">корпоративный e-mail: <a href="mailto:sgm@mail.ru" target="_blank">sgm@mail.ru</a></div>
                        <ul class="social-links">
                            <li>
                                <a href="#" target="_blank">
                                    <svg>
                                        <use xlink:href="#icon-facebook"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <svg>
                                        <use xlink:href="#icon-vk"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="b-title ff-tinos bold b-title-flex"><div class="b-title-texture b-title-texture-absolute"></div><span>Сэкономить = Заработать</span></div>
                <div class="text-in">
                    <p>Экономия на строительных материалах и монтаже может привести к тому, что через год фасад "поплывет", начнет протекать, пойдет волнами и будет требовать ремонта.</p>
                </div>
                <div class="gift b-title bt18 bold no-margin color4">
                    <div class="icon">
                        <img src="images/single-service/gift-bn/icon-gift.svg" alt="" />
                    </div>
                    Мастер объяснит на Вашем примере - на чем можно безопасно сэкономить и почему. А на каких моментах экономить категорически нельзя.
                </div>
                <div class="btn">
                    <a class="styled-btn styled-btn-1 styled-btn-size2 styled-btn-without-shadow">Получить консультацию</a>
                </div>
            </div>
            <div class="b-title-texture b-title-texture-absolute b-title-texture-reverse"></div>
        </div>
    </div>
</div>
