<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="file-desc" content="@@fileDesc"/>
    <title>@@title - СтройГруппМонтаж</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="css/main.min.css" rel="stylesheet">
</head>
<body class="@@bodyClass" data-cb-email-to="" data-yandex-metrika-id="" data-yandex-goal-name="" data-theme-name="@@webRoot">
    <div id="main-wrapper">
        @@include('modal-form.html')
        <div class="resp-mode"></div>
        <div class="mobile-menu-bg-overlay"></div>
        <header id="header">
            <div class="top">
                <div class="container">
                    <div class="in">
                        <a class="site-logo scrolled-to-top-link" href="@@webRoot">
                            <div class="image">
                                <img class="logo-normal" src="images/logo.svg" alt="" />
                                <img class="logo-mobile" src="images/logo.svg" alt="" />
                                <img class="logo-scrolled" src="images/logo-scrolled.svg" alt="" />
                            </div>
                        </a>
                        <ul class="menu scrolled-menu">
                            <li>
                                <a href="#">Главная</a>
                            </li>
                            <li class="menu-item-has-children menu-item-has-children--type-catalog">
                                <a href="#">Каталог</a>
                                <ul>
                                    <li>
                                        <a href="#">Фасадные панели</a>
                                    </li>
                                    <li>
                                        <a href="#">Фиброцементный сайдинг</a>
                                    </li>
                                    <li>
                                        <a href="#">Металлочерепица</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Отделка фасадов</a>
                                <ul>
                                    <li>
                                        <a href="#">Виниловый сайдинг</a>
                                    </li>
                                    <li>
                                        <a href="#">Малиновый сайдинг</a>
                                    </li>
                                    <li>
                                        <a href="#">Крокодиловый сайдинг</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Монтаж кровли</a>
                                <ul>
                                    <li>
                                        <a href="#">Монтаж через крышу</a>
                                    </li>
                                    <li>
                                        <a href="#">Монтаж монтажными инструментами</a>
                                    </li>
                                    <li>
                                        <a href="#">Монтаж у Гарика и Ашота</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Наши работы и отзывы</a>
                            </li>
                            <li class="scrolled-item">
                                <a href="#full-map">Контакты</a>
                            </li>
                        </ul>
                        <div class="right">
                            <div class="site-contacts-item site-contacts-item-slogan">
                                <div class="b-title bt16 no-margin">Отделка фасадов <br />и монтаж кровли в СПб и ЛО. <br />Работаем с 2005 года</div>
                            </div>

                            <div class="site-contacts-item site-contacts-item-email">
                                <div class="b-title bt16 no-margin">E-mail: <br />info@spbsgm.ru</div>
                                <div class="b-title bt16 color7 cb-link no-margin open-modal-form" data-modal-title="Напишите нам," data-modal-desc="мы ответим на Ваш e-mail в течение 7 минут" data-modal-type="form-type-3" data-modal-form-subject="SGM | Форма: Заказать звонок" data-modal-button-text="Отправить"><span>Написать нам</span></div>
                            </div>
                            <div class="site-contacts-item site-contacts-item-address">
                                <div class="site-contacts-item-address-container">
                                    <div class="b-title bt16 no-margin">
                                        <div class="subway-station">
                                            <div class="subway-station__logo">
                                                <div class="subway-station__icon">
                                                    <img src="images/icon-subway-line.svg" alt="">
                                                </div>
                                                <div class="subway-station__logo-text">1</div>
                                            </div>
                                            <div class="subway-station__text">ст. м. Нарвская</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="site-contacts-item-address-container">
                                    <div class="b-title bt16 no-margin">
                                        <div class="subway-station">
                                            <div class="subway-station__logo subway-station__logo_green">
                                                <div class="subway-station__icon">
                                                    <img src="images/icon-subway-line.svg" alt="">
                                                </div>
                                                <div class="subway-station__logo-text">3</div>
                                            </div>
                                            <div class="subway-station__text">ст. м. Беговая</div>
                                        </div>
                                    </div>
                                </div>
                                <? if ($mapPosition = get_field('contacts_map_position', 'option')) {
                                    $mapPosition = json_decode($mapPosition); ?>
                                <div class="b-title bt16 color7 cb-link no-margin open-modal-form" data-modal-type="map-modal" data-lat="<?=$mapPosition->marks[0]->coords[0];?>" data-lng="<?=$mapPosition->marks[0]->coords[1];?>" data-icon="<?=get_field('contacts_map_icon', 'option');?>" data-icon-width="50" data-icon-height="68" data-map-type="map-modal"><span>Смотреть на карте</span></div>
                            </div>
                            <div class="site-contacts-item site-contacts-item-messengers">
                                <div class="site-contacts-messenger">
                                    <a href="#" class="site-contacts-messenger__line">
                                        <div class="site-contacts-messenger__icon">
                                            <img src="images/icon-whatsapp.svg" alt="">
                                        </div>
                                        <div class="site-contacts-messenger__text">
                                            Whatsapp
                                        </div>
                                    </a>
                                    <a href="#" class="site-contacts-messenger__line">
                                        <div class="site-contacts-messenger__icon">
                                            <img src="images/icon-telegram.svg" alt="">
                                        </div>
                                        <div class="site-contacts-messenger__text">
                                            Telegram
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="site-contacts-item site-contacts-item-phone site-contacts-item-align-right">
                                <div class="b-title bt30 semibold no-margin telTo"><i>+7 (812)</i> 645-12-05</div>
                                <div class="b-title bt16 no-margin site-contacts-item-in-flex"><span>с 9:00 до 20:00</span> <div class="b-title bt16 color7 cb-link no-margin open-modal-form" data-modal-title="Оставьте Ваши контакты, мы <br /><i>перезвоним в течение 7 минут</i>" data-modal-desc="менеджер компании перезвонит Вам в ближайшее рабочее время и ответит на все вопросы" data-modal-type="form-type-1" data-modal-form-subject="SGM | Форма: Заказать звонок" data-modal-button-text="Отправить"><span>Заказать звонок</span></div></div>
                            </div>
                            <div class="open-menu-icon">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="container">
                    <div class="in">
                        <div class="mobile-menu-navbar">
                            <ul class="menu">
                                <li>
                                    <a href="#">Главная</a>
                                </li>
                                <li class="menu-item-has-children menu-item-has-children--type-catalog">
                                    <a href="#">Каталог</a>
                                    <ul>
                                        <li>
                                            <a href="#">Фасадные панели</a>
                                        </li>
                                        <li>
                                            <a href="#">Фиброцементный сайдинг</a>
                                        </li>
                                        <li>
                                            <a href="#">Металлочерепица</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Отделка фасадов</a>
                                    <ul>
                                        <li>
                                            <a href="#">Виниловый сайдинг</a>
                                        </li>
                                        <li>
                                            <a href="#">Малиновый сайдинг</a>
                                        </li>
                                        <li>
                                            <a href="#">Крокодиловый сайдинг</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Монтаж кровли</a>
                                    <ul>
                                        <li>
                                            <a href="#">Монтаж через крышу</a>
                                        </li>
                                        <li>
                                            <a href="#">Монтаж монтажными инструментами</a>
                                        </li>
                                        <li>
                                            <a href="#">Монтаж у Гарика и Ашота</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Наши работы и отзывы</a>
                                </li>
                                <li class="scrolled-item">
                                    <a href="#full-map">Контакты</a>
                                </li>
                            </ul>
                            <div class="mobile-cb-line">
                                <div class="mobile-cb-line-item open-modal-form" data-modal-title="Оставьте Ваши контакты, мы <br /><i>перезвоним в течение 7 минут</i>" data-modal-desc="менеджер компании перезвонит Вам в ближайшее рабочее время и ответит на все вопросы" data-modal-type="form-type-1" data-modal-form-subject="SGM | Форма: Заказать звонок" data-modal-button-text="Отправить">
                                    <svg>
                                        <use xlink:href='#icon-phone-header'/>
                                    </svg>
                                    <span>Заказать звонок</span>
                                </div>
                                <div class="mobile-cb-line-item open-modal-form" data-modal-title="Напишите нам," data-modal-desc="мы ответим на Ваш e-mail в течение 7 минут" data-modal-type="form-type-3" data-modal-form-subject="SGM | Форма: Заказать звонок" data-modal-button-text="Отправить">
                                    <svg>
                                        <use xlink:href='#icon-envelope-header'/>
                                    </svg>
                                    <span>Написать нам</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
