<div class="how-we-produce block-padding">
    <div class="container">
        <div class="block-title b-title ff-tinos bold b-title-flex"><div class="b-title-texture"></div><span>Как мы производим <i>монтаж сайдинга</i>:</span></div>
        <div class="in">
            <div class="items-1 block-padding bp35 no-padding-bottom">
                <div class="item">
                    <div class="icon">
                        <img src="images/single-service/how-we-produce/icon-1.svg" alt="" />
                    </div>
                    <div class="b-title bt18 semibold no-margin">Монтируем в соответствии <br />с требованиями ГОСТ <br />такими-то</div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="images/single-service/how-we-produce/icon-2.svg" alt="" />
                    </div>
                    <div class="b-title bt18 semibold no-margin">Международная система <br />менеджмента качества <br />такая-то</div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="images/single-service/how-we-produce/icon-3.svg" alt="" />
                    </div>
                    <div class="b-title bt18 semibold no-margin">Строгое соблюдение <br />СНИП такого-то</div>
                </div>
            </div>
            <div class="items-2 block-padding bp25 no-padding-bottom">
                <div class="item">
                    <div class="image">
                        <img src="images/single-service/how-we-produce/image-1.jpg" alt="" />
                    </div>
                    <div class="desc">
                        <div class="b-title bt26 ff-tinos bold no-margin">Специализированные инструменты</div>
                        <div class="text-in">
                            <p>снятие всех необходимых размеров Вашего дома; анализ состояния стен Вашего дома (чтобы понять, можно ли монтировать каркас на существующую стену или понадобится подготовка поверхности стены);</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="images/single-service/how-we-produce/image-2.jpg" alt="" />
                    </div>
                    <div class="desc">
                        <div class="b-title bt26 ff-tinos bold no-margin">Штатные бригады с сертифицированными мастерами</div>
                        <div class="text-in">
                            <p>снятие всех необходимых размеров Вашего дома; анализ состояния стен Вашего дома (чтобы понять, можно ли монтировать каркас на существующую стену или понадобится подготовка поверхности стены);</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="images/single-service/how-we-produce/image-3.jpg" alt="" />
                    </div>
                    <div class="desc">
                        <div class="b-title bt26 ff-tinos bold no-margin">Зимний монтаж сайдинга</div>
                        <div class="text-in">
                            <p>снятие всех необходимых размеров Вашего дома; анализ состояния стен Вашего дома (чтобы понять, можно ли монтировать каркас на существующую стену или понадобится подготовка поверхности стены);</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
