<div class="objects-map">
    <div class="container">
        <div class="in">
            <div class="caption">
                <div class="caption-in">
                    <div class="block-title b-title ff-tinos bold no-margin">Карта <i>объектов</i></div>
                    <div class="b-title bt26 no-margin">За 15 лет обустроили фасад у <b>2898 домов</b> в СПб и ЛО</div>
                    <div class="b-title bt18 no-margin">Часть объектов представлена на карте</div>
                </div>
                <div class="texture"></div>
            </div>
        </div>
        <div id="ymap-container" class="ymap-container" data-map-type="objects-map" data-map-data-url="mapData.json" data-map-zoom="10"></div>
    </div>
</div>
