<div class="personal block-padding">
    <div class="container">
        <div class="block-title b-title ff-tinos bold b-title-flex"><div class="b-title-texture"></div><span>Кто будет <i>работать</i> с Вами?</span></div>
        <div class="block-desc b-title bt18 semibold b-title-texture-padding-left">Над Вашим проектом будет работать команда специалистов, каждый из которых <br />несет персональную ответственность за определенный участок работ:</div>
        <div class="in block-padding bp35 no-padding-bottom b-title-texture-padding-left">
            <div class="slider-wrapper">
                <div class="slider-controls">
                    <div class="dots"></div>
                    <div class="pn-btn prev">
                        <svg>
                            <use xlink:href="#icon-arrow-pn-btn"/>
                        </svg>
                    </div>
                    <div class="pn-btn next">
                        <svg>
                            <use xlink:href="#icon-arrow-pn-btn"/>
                        </svg>
                    </div>
                </div>
                <div class="slider owl-carousel">
                    <div class="slide">
                        <div class="slide-in">
                            <div class="image">
                                <img src="images/home/personal/image-1.jpg" alt="" />
                                <div class="caption b-title bt18 semibold no-margin">Фамилия Имя Отчество</div>
                            </div>
                            <div class="desc">
                                <div class="desc-top">
                                    <div class="b-title bt16 no-margin">должность ООО «СтройГруппМонтаж»</div>
                                    <div class="b-title bt16 no-margin">корпоративный e-mail: <a href="mailto:sgm@mail.ru" target="_blank">sgm@mail.ru</a></div>
                                    <ul class="social-links social-links-color2">
                                        <li>
                                            <a href="#" target="_blank">
                                                <svg>
                                                    <use xlink:href="#icon-facebook"/>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <svg>
                                                    <use xlink:href="#icon-vk"/>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="desc-bottom">
                                    <div class="b-title bt16 no-margin">Перечень основных компетенций (с какими вопросами поможет клиенту)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide-in">
                            <div class="image">
                                <img src="images/home/personal/image-2.jpg" alt="" />
                                <div class="caption b-title bt18 semibold no-margin">Фамилия Имя Отчество</div>
                            </div>
                            <div class="desc">
                                <div class="desc-top">
                                    <div class="b-title bt16 no-margin">должность ООО «СтройГруппМонтаж»</div>
                                    <div class="b-title bt16 no-margin">корпоративный e-mail: <a href="mailto:sgm@mail.ru" target="_blank">sgm@mail.ru</a></div>
                                    <ul class="social-links social-links-color2">
                                        <li>
                                            <a href="#" target="_blank">
                                                <svg>
                                                    <use xlink:href="#icon-facebook"/>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <svg>
                                                    <use xlink:href="#icon-vk"/>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="desc-bottom">
                                    <div class="b-title bt16 no-margin">Перечень основных компетенций (с какими вопросами поможет клиенту)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide-in">
                            <div class="image">
                                <img src="images/home/personal/image-3.jpg" alt="" />
                                <div class="caption b-title bt18 semibold no-margin">Фамилия Имя Отчество</div>
                            </div>
                            <div class="desc">
                                <div class="desc-top">
                                    <div class="b-title bt16 no-margin">должность ООО «СтройГруппМонтаж»</div>
                                    <div class="b-title bt16 no-margin">корпоративный e-mail: <a href="mailto:sgm@mail.ru" target="_blank">sgm@mail.ru</a></div>
                                    <ul class="social-links social-links-color2">
                                        <li>
                                            <a href="#" target="_blank">
                                                <svg>
                                                    <use xlink:href="#icon-facebook"/>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <svg>
                                                    <use xlink:href="#icon-vk"/>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="desc-bottom">
                                    <div class="b-title bt16 no-margin">Перечень основных компетенций (с какими вопросами поможет клиенту)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide-in">
                            <div class="image">
                                <img src="images/home/personal/image-1.jpg" alt="" />
                                <div class="caption b-title bt18 semibold no-margin">Фамилия Имя Отчество</div>
                            </div>
                            <div class="desc">
                                <div class="desc-top">
                                    <div class="b-title bt16 no-margin">должность ООО «СтройГруппМонтаж»</div>
                                    <div class="b-title bt16 no-margin">корпоративный e-mail: <a href="mailto:sgm@mail.ru" target="_blank">sgm@mail.ru</a></div>
                                    <ul class="social-links social-links-color2">
                                        <li>
                                            <a href="#" target="_blank">
                                                <svg>
                                                    <use xlink:href="#icon-facebook"/>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <svg>
                                                    <use xlink:href="#icon-vk"/>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="desc-bottom">
                                    <div class="b-title bt16 no-margin">Перечень основных компетенций (с какими вопросами поможет клиенту)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide-in">
                            <div class="image">
                                <img src="images/home/personal/image-2.jpg" alt="" />
                                <div class="caption b-title bt18 semibold no-margin">Фамилия Имя Отчество</div>
                            </div>
                            <div class="desc">
                                <div class="desc-top">
                                    <div class="b-title bt16 no-margin">должность ООО «СтройГруппМонтаж»</div>
                                    <div class="b-title bt16 no-margin">корпоративный e-mail: <a href="mailto:sgm@mail.ru" target="_blank">sgm@mail.ru</a></div>
                                    <ul class="social-links social-links-color2">
                                        <li>
                                            <a href="#" target="_blank">
                                                <svg>
                                                    <use xlink:href="#icon-facebook"/>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <svg>
                                                    <use xlink:href="#icon-vk"/>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="desc-bottom">
                                    <div class="b-title bt16 no-margin">Перечень основных компетенций (с какими вопросами поможет клиенту)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide-in">
                            <div class="image">
                                <img src="images/home/personal/image-3.jpg" alt="" />
                                <div class="caption b-title bt18 semibold no-margin">Фамилия Имя Отчество</div>
                            </div>
                            <div class="desc">
                                <div class="desc-top">
                                    <div class="b-title bt16 no-margin">должность ООО «СтройГруппМонтаж»</div>
                                    <div class="b-title bt16 no-margin">корпоративный e-mail: <a href="mailto:sgm@mail.ru" target="_blank">sgm@mail.ru</a></div>
                                    <ul class="social-links social-links-color2">
                                        <li>
                                            <a href="#" target="_blank">
                                                <svg>
                                                    <use xlink:href="#icon-facebook"/>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <svg>
                                                    <use xlink:href="#icon-vk"/>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="desc-bottom">
                                    <div class="b-title bt16 no-margin">Перечень основных компетенций (с какими вопросами поможет клиенту)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
