<div class="portfolio-object">
    <div class="container">
        <div class="block-title b-title ff-tinos bold b-title-flex"><div class="b-title-texture"></div><span>Дом 6х8 <i>Сосново</i></span></div>
        <div class="in block-padding bp35 no-padding-bottom">
            <div class="images">
                <div class="texture texture-1"></div>
                <div class="texture texture-2"></div>
                <div class="image">
                    <a href="images/single-portfolio/portfolio-object/image-1.jpg" data-fancybox="portfolio-object" rel="lightbox">
                        <img src="images/single-portfolio/portfolio-object/image-1.jpg" alt="" />
                    </a>
                    <div class="lbl b-title bt18 color1 semibold no-margin">ДО</div>
                </div>
                <div class="image">
                    <a href="images/single-portfolio/portfolio-object/image-2.jpg" data-fancybox="portfolio-object" rel="lightbox">
                        <img src="images/single-portfolio/portfolio-object/image-2.jpg" alt="" />
                    </a>
                    <div class="lbl b-title bt18 color1 semibold no-margin">ПОСЛЕ</div>
                </div>
                <div class="caption-wrapper">
                    <div class="caption">
                        <div class="lbl lbl-1 b-title bt18 color1 semibold no-margin">ДО</div>
                        <div class="caption-in">
                            <div class="caption-item">
                                <div class="b-title bt16 no-margin">Монтаж</div>
                                <div class="b-title bt18 semibold no-margin">71,077 руб.</div>
                            </div>
                            <div class="caption-item">
                                <div class="b-title bt16 no-margin">Материалы</div>
                                <div class="b-title bt18 semibold no-margin">99,045 руб.</div>
                            </div>
                        </div>
                        <div class="lbl lbl-2 b-title bt18 color1 semibold no-margin">ПОСЛЕ</div>
                    </div>
                </div>
            </div>
            <div class="desc block-padding bp45 no-padding-bottom">
                <div class="desc-col">
                    <div class="text-in">
                        <h5>Деревянный дом, 99 м², 6х8</h5>
                        <p>Всеволожский р-н, Васкелово Договор № 512/2018-05 от 24.05.2018г.</p>
                        <h5>Общая стоимость:</h5>
                        <ul>
                            <li><b>79 500 руб.</b></li>
                            <li>материалы 40 000 руб.</li>
                            <li>работы 39 500 руб.</li>
                        </ul>
                    </div>
                </div>
                <div class="desc-col">
                    <div class="text-in">
                        <h5>В стоимость включено:</h5>
                        <ul>
                            <li>демонтаж</li>
                            <li>виниловый сайдинг Mitten</li>
                            <li>строительные леса</li>
                            <li>доставка материалов</li>
                        </ul>
                        <h5>Скидки и подарки:</h5>
                        <ul>
                            <li>7950 руб.- акция "-10% при заказе материалов"</li>
                            <li>6000 руб. - бесплатный монтаж водостоков</li>
                        </ul>
                    </div>
                </div>
                <div class="desc-col">
                    <div class="text-in">
                        <h5>Срок монтажа:</h5>
                        <p>Срок монтажа:</p>
                        <h5>Отделочные материалы:</h5>
                        <p>Виниловый сайдинг <br />Фасадные панели</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
