<div class="portfolio block-padding">
    <div class="container">
        <div class="block-title b-title ff-tinos bold b-title-flex"><div class="b-title-texture"></div><span>Портфолио работ <i>и отзывы клиентов</i></span></div>
        <div class="in block-padding bp25 no-padding-bottom">
            <div class="items">
                <a href="#" class="portfolio-item not-hovered">
                    <div class="item-in">
                        <div class="image">
                            <div class="images">
                                <img class="active" src="images/home/portfolio/image-1.jpg" alt="" />
                                <img src="images/home/portfolio/image-2.jpg" alt="" />
                                <img src="images/home/portfolio/image-3.jpg" alt="" />
                                <img src="images/home/portfolio/image-1.jpg" alt="" />
                                <img src="images/home/portfolio/image-2.jpg" alt="" />
                                <img src="images/home/portfolio/image-3.jpg" alt="" />
                                <img src="images/home/portfolio/image-2.jpg" alt="" />
                            </div>
                            <div class="images-navs">
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="desc">
                            <div class="b-title bt18 semibold no-margin">Дом 6х8, пос. Сосново, Лен. область</div>
                            <div class="params">
                                <div class="param">
                                    <svg>
                                        <use xlink:href="#icon-key-hammer"/>
                                    </svg>
                                    <div class="b-title bt16 no-margin">Монтаж винилового сайдинга</div>
                                </div>
                                <div class="param">
                                    <svg>
                                        <use xlink:href="#icon-ruble"/>
                                    </svg>
                                    <div class="b-title bt16 no-margin">Материалы + Монтаж = <b>175 000 руб</b></div>
                                </div>
                            </div>
                            <div class="styled-btn styled-btn-1 styled-btn-size2 styled-btn-without-shadow styled-btn-anim-x-hover">
                                Подробнее о проекте
                                <svg class="arrow-right">
                                    <use xlink:href="#icon-arrow-right"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="portfolio-item not-hovered">
                    <div class="item-in">
                        <div class="image">
                            <div class="images">
                                <img class="active" src="images/home/portfolio/image-2.jpg" alt="" />
                                <img src="images/home/portfolio/image-1.jpg" alt="" />
                                <img src="images/home/portfolio/image-3.jpg" alt="" />
                                <img src="images/home/portfolio/image-2.jpg" alt="" />
                                <img src="images/home/portfolio/image-1.jpg" alt="" />
                                <img src="images/home/portfolio/image-2.jpg" alt="" />
                                <img src="images/home/portfolio/image-3.jpg" alt="" />
                            </div>
                            <div class="images-navs">
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="desc">
                            <div class="b-title bt18 semibold no-margin">Дом 6х8, пос. Сосново, Лен. область</div>
                            <div class="params">
                                <div class="param">
                                    <svg>
                                        <use xlink:href="#icon-key-hammer"/>
                                    </svg>
                                    <div class="b-title bt16 no-margin">Монтаж винилового сайдинга</div>
                                </div>
                                <div class="param">
                                    <svg>
                                        <use xlink:href="#icon-ruble"/>
                                    </svg>
                                    <div class="b-title bt16 no-margin">Материалы + Монтаж = <b>175 000 руб</b></div>
                                </div>
                            </div>
                            <div class="styled-btn styled-btn-1 styled-btn-size2 styled-btn-without-shadow styled-btn-anim-x-hover">
                                Подробнее о проекте
                                <svg class="arrow-right">
                                    <use xlink:href="#icon-arrow-right"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="portfolio-item not-hovered">
                    <div class="item-in">
                        <div class="image">
                            <div class="images">
                                <picture>
                                    <source srcset="https://sgm-dom.ru/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/07/montazh-sajdinga-primery-rabot-322-3-750x474.jpg.webp" type="image/webp">
                                    <img alt="" data-src="https://sgm-dom.ru/wp-content/uploads/2019/07/montazh-sajdinga-primery-rabot-322-3-750x474.jpg" class="active webpexpress-processed ls-is-cached lazyloaded" src="https://sgm-dom.ru/wp-content/uploads/2019/07/montazh-sajdinga-primery-rabot-322-3-750x474.jpg">
                                    <noscript><img class="active webpexpress-processed" src="https://sgm-dom.ru/wp-content/uploads/2019/07/montazh-sajdinga-primery-rabot-322-3-750x474.jpg" alt=""></noscript>
                                </picture>
                                <picture>
                                    <source srcset="https://sgm-dom.ru/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/07/montazh-sajdinga-primery-rabot-325-1-750x474.jpg.webp" type="image/webp">
                                    <img alt="" data-src="https://sgm-dom.ru/wp-content/uploads/2019/07/montazh-sajdinga-primery-rabot-325-1-750x474.jpg" class="webpexpress-processed ls-is-cached lazyloaded" src="https://sgm-dom.ru/wp-content/uploads/2019/07/montazh-sajdinga-primery-rabot-325-1-750x474.jpg">
                                    <noscript><img src="https://sgm-dom.ru/wp-content/uploads/2019/07/montazh-sajdinga-primery-rabot-325-1-750x474.jpg" alt="" class="webpexpress-processed"></noscript>
                                </picture>
                                <picture>
                                    <source srcset="https://sgm-dom.ru/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/07/montazh-sajdinga-primery-rabot-327-1-750x474.jpg.webp" type="image/webp">
                                    <img alt="" data-src="https://sgm-dom.ru/wp-content/uploads/2019/07/montazh-sajdinga-primery-rabot-327-1-750x474.jpg" class="webpexpress-processed ls-is-cached lazyloaded" src="https://sgm-dom.ru/wp-content/uploads/2019/07/montazh-sajdinga-primery-rabot-327-1-750x474.jpg">
                                    <noscript><img src="https://sgm-dom.ru/wp-content/uploads/2019/07/montazh-sajdinga-primery-rabot-327-1-750x474.jpg" alt="" class="webpexpress-processed"></noscript>
                                </picture>
                            </div>
                            <div class="images-navs">
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="desc">
                            <div class="b-title bt18 semibold no-margin">Дом 6х8, пос. Сосново, Лен. область</div>
                            <div class="params">
                                <div class="param">
                                    <svg>
                                        <use xlink:href="#icon-key-hammer"/>
                                    </svg>
                                    <div class="b-title bt16 no-margin">Монтаж винилового сайдинга</div>
                                </div>
                                <div class="param">
                                    <svg>
                                        <use xlink:href="#icon-ruble"/>
                                    </svg>
                                    <div class="b-title bt16 no-margin">Материалы + Монтаж = <b>175 000 руб</b></div>
                                </div>
                            </div>
                            <div class="styled-btn styled-btn-1 styled-btn-size2 styled-btn-without-shadow styled-btn-anim-x-hover">
                                Подробнее о проекте
                                <svg class="arrow-right">
                                    <use xlink:href="#icon-arrow-right"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="btn">
                <a href="#" class="styled-btn styled-btn-3 styled-btn-size2 styled-btn-without-shadow">
                    Перейти в раздел «Портфолио»
                    <svg class="arrow-right">
                        <use xlink:href="#icon-arrow-right"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
