<div class="prices portfolio-category block-padding no-padding-bottom">
    <div class="container">
        <div class="b-title-wrapper">
            <div class="block-title b-title ff-tinos bold b-title-flex"><div class="b-title-texture"></div><span>Стоимость отделки фасада <i>виниловым сайдингом</i></span></div>
        </div>
        <div class="in block-padding bp35 no-padding-bottom">
            <div class="table-wrapper">
                <div class="table">
                    <table>
                        <tdead>
                            <tr>
                                <td rowspan="2">
                                    <div class="b-title bt24 ff-tinos bold no-margin">Производители</div>
                                </td>
                                <td rowspan="2">
                                    <div class="b-title bt24 ff-tinos bold no-margin">Ассортимент</div>
                                </td>
                                <td colspan="2">
                                    <div class="b-title bt20 ff-tinos bold no-margin">Дом для летнего проживания</div>
                                </td>
                                <td colspan="2">
                                    <div class="b-title bt20 ff-tinos bold no-margin">Круглогодичное проживание</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="b-title bt18 no-margin tooltip" title="Небольшая всплывающая <br />подсказка">
                                        <span class="t">Материалы</span>
                                        <span class="info">
                                            <svg>
                                                <use xlink:href="#icon-info"/>
                                            </svg>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="b-title bt18 no-margin tooltip" title="Небольшая всплывающая <br />подсказка">
                                        <span class="t">Работа</span>
                                        <span class="info">
                                            <svg>
                                                <use xlink:href="#icon-info"/>
                                            </svg>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="b-title bt18 no-margin tooltip" title="Небольшая всплывающая <br />подсказка">
                                        <span class="t">Материалы</span>
                                        <span class="info">
                                            <svg>
                                                <use xlink:href="#icon-info"/>
                                            </svg>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="b-title bt18 no-margin tooltip" title="Небольшая всплывающая <br />подсказка">
                                        <span class="t">Работа</span>
                                        <span class="info">
                                            <svg>
                                                <use xlink:href="#icon-info"/>
                                            </svg>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tdead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="image">
                                        <div class="image-in">
                                            <img src="images/single-service/prices/image-1@2x.png" alt="" />
                                        </div>
                                        <span class="info tooltip" title="Небольшая всплывающая <br />подсказка">
                                            <svg>
                                                <use xlink:href="#icon-info"/>
                                            </svg>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="b-title bt16 color4 no-margin">6 вариантов фактур. <br />20 вариантов цвета. <br /><b>Германия. Гарантия 50 лет</b></div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">600 р/м²</div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">460 р/м²</div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">850 р/м²</div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">670 р/м²</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="image">
                                        <div class="image-in">
                                            <img src="images/single-service/prices/image-2@2x.png" alt="" />
                                        </div>
                                        <span class="info tooltip" title="Небольшая всплывающая <br />подсказка">
                                            <svg>
                                                <use xlink:href="#icon-info"/>
                                            </svg>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="b-title bt16 color4 no-margin">6 вариантов фактур. <br />20 вариантов цвета. <br /><b>Германия. Гарантия 50 лет</b></div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">600 р/м²</div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">460 р/м²</div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">850 р/м²</div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">670 р/м²</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="image">
                                        <div class="image-in">
                                            <img src="images/single-service/prices/image-3@2x.png" alt="" />
                                        </div>
                                        <span class="info tooltip" title="Небольшая всплывающая <br />подсказка">
                                            <svg>
                                                <use xlink:href="#icon-info"/>
                                            </svg>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="b-title bt16 color4 no-margin">6 вариантов фактур. <br />20 вариантов цвета. <br /><b>Германия. Гарантия 50 лет</b></div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">600 р/м²</div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">460 р/м²</div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">850 р/м²</div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">670 р/м²</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="image">
                                        <div class="image-in">
                                            <img src="images/single-service/prices/image-1@2x.png" alt="" />
                                        </div>
                                        <span class="info tooltip" title="Небольшая всплывающая <br />подсказка">
                                            <svg>
                                                <use xlink:href="#icon-info"/>
                                            </svg>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="b-title bt16 color4 no-margin">6 вариантов фактур. <br />20 вариантов цвета. <br /><b>Германия. Гарантия 50 лет</b></div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">600 р/м²</div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">460 р/м²</div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">850 р/м²</div>
                                </td>
                                <td>
                                    <div class="b-title bt18 color4 bold no-margin align-center">670 р/м²</div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr class="btns">
                                <td></td>
                                <td></td>
                                <td colspan="2">
                                    <a class="styled-btn styled-btn-1 styled-btn-size2 styled-btn-without-shadow">Заказать смету</a>
                                </td>
                                <td colspan="2">
                                    <a class="styled-btn styled-btn-1 styled-btn-size2 styled-btn-without-shadow">Заказать смету</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="texture"></div>
                    <div class="swipe-bg">
                        <div class="swipe-icon animated shake">
                            <svg>
                                <use xlink:href="#icon-swipe"/>
                            </svg>
                            <span>SWIPE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-mb">
                <a class="styled-btn styled-btn-1 styled-btn-size2 styled-btn-without-shadow">Заказать смету</a>
            </div>
        </div>
    </div>
</div>
