<div class="product-card">
    <div class="product-card__wrap">
        <div class="product-card__img">
            <img src="images/product-card/burg-300x335.png" alt="">
        </div>
        <div class="product-card__info">
            <div class="product-card__cost-description">Цена за шт.</div>
            <div class="product-card__cost">
                <div class="product-card__cost-new">1499₽</div>
                <div class="product-card__cost-old">1549₽</div>
                <div class="product-card__cost-discount">-15%</div>
            </div>
            <div class="product-card__title">
                <span>Фасадная панель Docke FELS на твой ёбаный дом блядь</span>
            </div>
        </div>

        <div class="product-card__controls">
            <div class="product-card__btn styled-btn styled-btn-1 styled-btn-size4 styled-btn-without-shadow styled-btn-anim-x-hover open-modal-form" data-modal-title="Оставьте Ваши контакты, мы <br /><i>посчитаем вам необходимое количество материала</i>" data-modal-desc="менеджер компании перезвонит Вам в ближайшее рабочее время и ответит на все вопросы" data-modal-type="form-type-1" data-modal-form-subject="SGM | Форма: Закзать материал" data-modal-button-text="Отправить">
                Заказать
                <svg class="arrow-right">
                    <use xlink:href="#icon-arrow-right"></use>
                </svg>
            </div>
        </div>
        <div class="product-card__addition">
            <div class="product-card__params">
                <div class="product-card__params-title">
                    Рабочие параметры:
                    <span class="product-card__icon-tip">
                        <span class="product-card__icon-tip-wrap">i</span>
                    </span>
                </div>
                <div class="product-card__params-line">
                    <div class="product-card__params-item">длина: 1010 мм</div>
                    <div class="product-card__params-delimeter">x</div>
                    <div class="product-card__params-item">ширина: 450 мм</div>
                </div>
                <div class="product-card__params-line">
                    <div class="product-card__params-item">площадь: 0,46 кв.м</div>
                </div>
            </div>
        </div>
    </div>
</div>