<div class="gallery-images gallery-images-type2 block-padding no-padding-bottom">
    <div class="container">
        <div class="b-title ff-tinos bold b-title-flex"><div class="b-title-texture"></div><span>Docke</i></span></div>
        <div class="block-desc b-title bt18 b-title-texture-padding-left">Каменный дом — это красиво, надежно и престижно, но не всегда доступно. Современные технологии производства строительных материалов предлагают достойную альтернативу дорогим природным минералам. Фасадные панели стоят в несколько раз дешевле, весят значительно меньше и при этом имитируют каменную и кирпичную кладку настолько точно, что стены дома невозможно отличить от выложенных из натуральных материалов даже с очень близкого расстояния.</div>
    </div>

    @@include('collections-list.html')

    @@include('products-list.html')
    @@include('products-list.html')
    @@include('products-list.html')
</div>