<div class="product-card">
    <div class="product-card__img">
        <img src="images/product-card/burg-300x335.png" alt="">
    </div>
    <div class="product-card__info">
        <div class="product-card__cost">
            <div class="product-card__cost-new">1499₽</div>
            <div class="product-card__cost-old">1549₽</div>
            <div class="product-card__cost-discount">-15%</div>
        </div>
        <div class="product-card__title">
            <span>Фасадная панель Docke FELS на твой ёбаный дом блядь</span>
        </div>
    </div>
</div>