<div class="products-list" id="collection-slug">
    <div class="container">

        <div class="b-title ff-tinos bold b-title-flex"><div class="b-title-texture"></div><span>Коллекция BURG</i></span></div>
        <div class="block-desc b-title bt18 b-title-texture-padding-left">Коллекция BURG имитирует облик юрского мрамора и имеет текстуру камня с четкой геометрией. У нее самая широкая цветовая гамма – 10 цветов. Вы можете купить панели с текстурой и колористическим решением, которые максимально приближены к натуральному камню. В коллекции используются 2 варианта оформления швов: контрастные и прокрашенные тон в тон.</div>

        <ul class="products-list__list block-padding bp45">
            <li class="products-list__item">
                @@include('product-card.html')
            </li>
            <li class="products-list__item">
                @@include('product-card.html')
            </li>
            <li class="products-list__item">
                @@include('product-card.html')
            </li>
            <li class="products-list__item">
                @@include('product-card.html')
            </li>
            <li class="products-list__item">
                @@include('product-card.html')
            </li>
            <li class="products-list__item">
                @@include('product-card.html')
            </li>
            <li class="products-list__item">
                @@include('product-card.html')
            </li>
            <li class="products-list__item">
                @@include('product-card.html')
            </li>
            <li class="products-list__item">
                @@include('product-card.html')
            </li>
        </ul>
    </div>
</div>