<div class="review-client block-padding">
    <div class="container">
        <div class="b-title bt24 semibold no-margin">Отзыв клиента</div>
        <div class="in">
            <div class="left">
                <div class="desc">
                    <div class="b-title bt30 ff-tinos bold no-margin">
                        <div class="icon">
                            <svg>
                                <use xlink:href="#icon-quote"/>
                            </svg>
                        </div>
                        <span><em>Спасибо за оперативную <br />и качественную работу!</em></span>
                    </div>
                    <div class="text-in">
                        <p><i>Прочел статью,всетаки решил на форум зайти, с людьми посоветоваться и спасибо им огромное что посоветовали арктический, а то жил бы сейчас в новом доме и думал каждый год, выдержит ли мой утеплитель еще. А то жил бы сейчас в новом доме и думал каждый год, выдержит ли мой утеплитель еще</i></p>
                    </div>
                    <div class="b-title bt18 semibold no-margin align-right"><em>Семья Ивановых</em></div>
                </div>
            </div>
            <div class="right">
                <div class="video-wrapper">
                    <div class="youtube-video" data-video-id="CzuPk9K41q0">
                        <img class="youtube-thumbnail" src="images/single-portfolio/review-client/video-thumbnail.jpg" alt="">
                        <div class="youtube-play-btn">
                            <svg>
                                <use xlink:href="#icon-video-play-btn"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="texture"></div>
                </div>
            </div>
        </div>
    </div>
</div>
