<div class="steps block-padding">
    <div class="container">
        <div class="b-title ff-tinos bold b-title-flex"><div class="b-title-texture"></div><span>Замеры и расчет стоимости <i>материалов и работ</i></span></div>
        <div class="in block-padding bp35 no-padding-bottom">
            <div class="items">
                <div class="item">
                    <div class="left">
                        <div class="b-title bt30 ff-tinos bold no-margin">
                            <div class="n b-title bt40 bold ff-tinos color4 no-margin">1</div>
                            Предварительная стоимость <br />без выезда на объект
                        </div>
                        <div class="b-title bt24 bold no-margin">Заполните форму</div>
                        <div class="text-in">
                            <p>Для предварительного расчета без выезда на замер нам нужно знать:</p>
                            <ul>
                                <li>размеры дома (длина и ширина);</li>
                                <li>количество и размеры окон и дверей;</li>
                                <li>высоту дома до конька и до крыши по боковой стене;</li>
                                <li>тип крыши (ломаная или нет);</li>
                                <li>удаленность от Петербурга;</li>
                                <li>надо ли утеплять дом;</li>
                                <li>надо ли закрывать фундамент цокольными панелями;</li>
                                <li>нужна ли водосточная система;</li>
                            </ul>
                        </div>
                        <div class="btn">
                            <a class="styled-btn styled-btn-1 styled-btn-size2 styled-btn-without-shadow">Заполнить форму и получить расчет</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="estimate">
                            <div class="b-title bt24 bold no-margin">Уже есть смета? <br />Посчитаем на ее основе</div>
                            <div class="text-in">
                                <p>ООО «СтройГруппМонтаж» имеет более 20 прямых договоров с заводами-производителями сайдинга, кровельных и расходных материалов.</p>
                                <p>В течение 1 часа мы вышлем Вам свое коммерческое предложение.</p>
                            </div>
                            <a class="styled-btn styled-btn-4 styled-btn-size2">
                                Загрузить смету
                                <svg>
                                    <use xlink:href="#icon-clip"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item item-align-top">
                    <div class="left">
                        <div class="b-title bt30 ff-tinos bold no-margin">
                            <div class="n b-title bt40 bold ff-tinos color4 no-margin">2</div>
                            Бесплатный выезд <br />инженера-сметчика
                        </div>
                        <div class="text-in">
                            <p>Инженер-сметчик приедет на объект в удобное время и проведет:</p>
                            <ul>
                                <li>снятие всех необходимых размеров Вашего дома;</li>
                                <li>анализ состояния стен Вашего дома (чтобы понять, можно ли монтировать каркас на существующую стену или понадобится подготовка поверхности стены);</li>
                                <li>измерение отклонений стен от плоскости (чтобы понять, какой каркас потребуется для их выравнивания "в ноль");</li>
                                <li>анализ утепленности дома и основных потерь тепла (чтобы понять необходимость дополнительного утепления)</li>
                                <li>покажет варианты отделочных материалов</li>
                                <li>расскажет, на чем можно безопасно сэкономить</li>
                            </ul>
                        </div>
                        <div class="btn">
                            <a class="styled-btn styled-btn-1 styled-btn-size2 styled-btn-without-shadow">Заполнить форму и получить расчет</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="image">
                            <a class="image-in" href="#" target="_blank">
                                <img src="images/single-service/steps/image.jpg" alt="" />
                                <div class="caption">
                                    <svg>
                                        <use xlink:href="#icon-pdf"/>
                                    </svg>
                                    <div class="b-title bt20 semibold color1 align-center"><span>Смотреть пример сметы</span></div>
                                </div>
                            </a>
                            <div class="texture"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
