<div class="design-3d thermal-imaging-inspection block-padding">
    <div class="container">
        <div class="in">
            <div class="left">
                <div class="images">
                    <div class="image">
                        <div class="image-in">
                            <img src="images/single-service/thermal-imaging-inspection/image-1.jpg" alt="" />
                        </div>
                        <div class="caption">
                            <div class="b-title bt24 bold ff-tinos no-margin">
                                Фото дома
                                <svg>
                                    <use xlink:href="#icon-arrow-right-calc"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="image">
                        <div class="image-in">
                            <img src="images/single-service/thermal-imaging-inspection/image-2.jpg" alt="" />
                        </div>
                        <div class="caption">
                            <div class="b-title bt24 bold ff-tinos no-margin">
                                Тепловая карта <br />дома
                                <svg>
                                    <use xlink:href="#icon-arrow-right-calc"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="b-title ff-tinos bold b-title-flex"><div class="b-title-texture b-title-texture-absolute"></div><span>Тепловизионное обследование дома</span></div>
                <div class="text-in">
                    <p>Инженер проведет обследование <br />дома тепловизором</p>
                    <ul>
                        <li>Выявит места теплопотерь</li>
                        <li>Правильно распределит/уточнить <br />дальнейшие дествия</li>
                    </ul>
                    <p>В результате Вы будете <b>экономить на отоплении до 42000 рублей в год.</b></p>
                </div>
                <div class="btn">
                    <a class="styled-btn styled-btn-1 styled-btn-size2 styled-btn-without-shadow">Заказать выезд инженера</a>
                </div>
            </div>
        </div>
    </div>
</div>
