<div class="top-block block-padding" style="background:url(images/home/top-block/bg.jpg) no-repeat center center;">
    <div class="bg-image-mobile" style="background:url(images/home/top-block/bg.jpg) no-repeat center center;"></div>
    <div class="container">
        <div class="in">
            <div class="b-title bt72 white no-margin ff-tinos">Отделка загородных <br />домов «под ключ»:</div>
            <div class="b-title-line"></div>
            <div class="b-title bt30 white no-margin">строительно-монтажные работы <br />и поставка материалов.</div>
            <div class="bottom block-padding bp45 no-padding-bottom">
                <div class="btn">
                    <a class="styled-btn styled-btn-1">Получить консультацию</a>
                </div>
                <div class="items">
                    <div class="item">
                        <div class="item-in">
                            <div class="b-title white ff-tinos no-margin animate-count"><i>14</i> лет</div>
                            <div class="b-title bt16 white no-margin">работаем в СПб и ЛО</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-in">
                            <div class="b-title white ff-tinos no-margin animate-count"><i>2985</i> домов</div>
                            <div class="b-title bt16 white no-margin">утеплили и обновили фасад</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-in">
                            <div class="b-title white ff-tinos no-margin animate-count"><i>52</i> млн. руб.</div>
                            <div class="b-title bt16 white no-margin">сэкономили для клиентов</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
