<div class="top-block-single-service block-padding" style="background:url(images/single-service/top-block/bg.jpg) no-repeat center center;">
    <div class="bg-image-mobile" style="background:url(images/single-service/top-block/bg.jpg) no-repeat center center;"></div>
    <div class="container">
        <div class="in">
            <div class="b-title bt72 white no-margin ff-tinos">Отделка фасада домов виниловым сайдингом</div>
            <div class="b-title-line"></div>
            <div class="params">
                <div class="param b-title bt24 color1 bold no-margin">от 400 р/м² - материал</div>
                <div class="param b-title bt24 color1 bold no-margin">от 350 р/м² - монтаж</div>
            </div>
            <div class="info-items-wrapper">
                <div class="info-items-spacer"></div>
                <div class="info-items">
                    <div class="info-items-in">
                        <div class="info-item">
                            <div class="info-item-in">
                                <div class="b-title white ff-tinos no-margin">-20% скидка</div>
                                <div class="b-title bt16 white no-margin">при раннем бронировании</div>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="info-item-in">
                                <div class="b-title white ff-tinos no-margin">10 лет</div>
                                <div class="b-title bt16 white no-margin">гарантия на монтаж и материалы</div>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="info-item-in">
                                <div class="b-title white ff-tinos no-margin">3D дизайн</div>
                                <div class="b-title bt16 white no-margin">фасада дома — в подарок!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom block-padding bp45 no-padding-bottom">
                <form class="form-style">
                    <div class="b-title bt30 color2 white">Закажите звонок инженера-сметчика:</div>
                    <div class="f-item">
                        <div class="f-item-25 f-item-inp1">
                            <input type="text" name="name" placeholder="Ваше имя" />
                        </div>
                        <div class="f-item-25 f-item-inp2">
                            <input type="tel" name="phone" placeholder="Телефон" required/>
                        </div>
                        <div class="f-item-30">
                            <button type="submit" class="styled-btn styled-btn-1 styled-btn-size3 styled-btn-without-shadow submit">Заказать звонок</button>
                        </div>
                        <div class="f-item-20">
                            <div class="privacy-policy-form b-title bt11 white">Нажимая на кнопку, вы соглашаетесь c <a href="/privacy-policy/" target="_blank">политикой конфиденциальности</a></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
