<div class="cb-form cb-form-2">
    <div class="b-title bt30 ff-tinos color4 bold modal-title"></div>
    <div class="b-title bt18 color4 modal-desc"></div>
    <form class="form-style">
        <div class="f-item f-item-left-right-items">
            <div class="f-item-left">
                <div class="f-item f-item-textarea">
                    <textarea name="text" placeholder="Ваш вопрос"></textarea>
                </div>
            </div>
            <div class="f-item-right">
                <div class="f-item">
                    <input type="tel" name="phone" placeholder="Ваш телефон" required />
                </div>
                <div class="f-item">
                    <input type="text" name="name" placeholder="Ваше имя" />
                </div>
                <div class="f-item">
                    <input type="email" name="email" placeholder="Электронная почта" />
                </div>
                <div class="f-item f-item-uppload-files">
                    <div class="f-item-upload-files-in">
                        <div class="uppload-files">
                            <span class="attach-files attach-files-btn fileinput-button">
                                <span class="b-title bt15 semibold color7 no-margin">Прикрепить</span>
                                <input id="inp-file" class="inp-file" type="file" multiple="">
                            </span>
                        </div>
                        <div class="uppload-files-title b-title bt11 no-margin">
                            <span>Можно прикрепить смету, план дома или документы до 10 Мб</span>
                        </div>
                    </div>
                    <div class="file-added"></div>
                </div>
            </div>
        </div>
        <div class="f-item f-item-left-right-items f-item-align-center">
            <div class="f-item-left">
                <div class="f-item">
                    <button type="submit" class="styled-btn styled-btn-1 styled-btn-without-shadow submit modal-submit-button-text">Отправить</button>
                </div>
            </div>
            <div class="f-item-right">
                <div class="f-item f-item-privacy-policy">
                    <div class="privacy-policy-form b-title bt14">Нажимая на кнопку, вы соглашаетесь c <a href="/privacy-policy/" target="_blank">политикой конфиденциальности</a></div>
                </div>
            </div>
        </div>
    </form>
</div>
