<div class="cb-form cb-form-1">
    <div class="b-title bt30 ff-tinos color4 bold align-center modal-title"></div>
    <div class="b-title bt18 color4 align-center modal-desc"></div>
    <form class="form-style" data-form-subject="">
        <div class="f-item">
            <input type="text" name="name" placeholder="Ваше имя" />
        </div>
        <div class="f-item">
            <input type="tel" name="phone" placeholder="Ваш телефон" required />
        </div>
        <div class="f-item">
            <input type="email" name="email" placeholder="Электронная почта" required />
        </div>
        <div class="f-item">
            <button type="submit" class="submit styled-btn styled-btn-1 styled-btn-size2 styled-btn-without-shadow next-step-btn modal-submit-button-text">Отправить</button>
        </div>
        <div class="f-item f-item-flex-center">
            <div class="privacy-policy-form b-title bt14 align-center">Нажимая на кнопку, вы соглашаетесь c <a href="/privacy-policy/" target="_blank">политикой конфиденциальности</a></div>
        </div>
    </form>
</div>
